#-----------------------------------
# Ide
#-----------------------------------
./idea
./vscode
**/.DS_Store

#-----------------------------------
# Directories
#-----------------------------------
vendor
node_modules
dist/
coverage/

#-----------------------------------
# Files
#-----------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
